.header {
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.hl {
    border-top: 1px dashed white;
}

.nav {
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content {
    background-color: BLACK;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 870px;
    color: white;
}

.data_display {
    background-color : black;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 650px;
    color: white;
}

table{
    border-collapse: collapse;
    border:5px solid white;
    width: 50%;
    text-align: center;
    color: white;
    font-size: large;
    border-style: groove;
}